<mat-card>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let user of allUsers" [routerLink]="['/dashboard/user/' + user.userID]">
          <td>{{user.firstName}}  {{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.city}}</td>
      </tr>
     
    </table>
  </mat-card>
  
  
  
  <button (click)="openDialog()"  mat-raised-button #tooltip="matTooltip"
  matTooltip="Add user" mat-fab color="primary" class="add-user-btn">
      <mat-icon>add</mat-icon>
    </button>